/* Default styles */
.App {
  font-family: Arial, sans-serif;
}

.content {
  background-color: #f0f0f0; /* Light background color */
  color: #333; /* Light text color */
}

/* Dark theme styles */
.App.dark .content {
  background-color: #333; /* Dark background color */
  color: #fff; /* Dark text color */
}

/* Additional styles for specific elements can be added here */
